@if (isExpired()) {
  <div class="expired-msg">
    <span class="expired-icon">🎉</span>
    <span>时间已到，胶囊即将开启…</span>
  </div>
} @else {
  <div class="countdown-display">
    <div class="countdown-ring"></div>
    <div class="countdown-text">
      @for (unit of units(); track unit.label; let i = $index) {
        <span style="display: contents">
          <div class="time-block">
            <span class="mono-font num" [class.glow-text]="i === 3">{{ pad(unit.value) }}</span>
            <span class="unit">{{ unit.label }}</span>
          </div>
          @if (i < units().length - 1) {
            <span class="colon">:</span>
          }
        </span>
      }
    </div>
  </div>
}
