# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Java / Maven
backends/spring-boot/target/
*.class
*.jar
*.war

# Node
node_modules/
dist/
*.local

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Database
*.db
*.sqlite

# Environment
.env
.env.local

# Build cache
.angular/
*.tsbuildinfo
